@mixin IconUrl-button($Num, $UrlFolder, $PictureName, $Width, $Height) {
  &:nth-child(#{$Num})::before {
    content: url('https://yatayork.imgix.net/' + $UrlFolder + '/' + $PictureName + '?w=' + $Width + '&h=' + $Height + '"');
  }
}

@mixin absolute($top, $bottom, $left, $right) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin backgroundImg-full($imgUrl) {
  width: 100%;
  height: 500px;
  background-image: url($imgUrl);
  background-size: 100% 550px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontConfig($fontSize, $color, $fontWeight: 700, $lineHeight, $letterSpacing) {
  font-size: $fontSize;
  color: $color;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@keyframes banner-image-animation {
  25% {
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}
